menu "Driver: Hook MicroPython stdout + stdin to C applications"
	config DRIVER_STDINOUT_HOOK_ENABLE
		bool "Enable the stdinout hook driver"
		default n
	
	config DRIVER_STDOUT_VFS_NAME
		depends on DRIVER_STDINOUT_HOOK_ENABLE
		string "Name of the VFS mount point to read stdout from"
		default "/dev/hooked_stdout"

	config DRIVER_STDIN_VFS_NAME
		depends on DRIVER_STDINOUT_HOOK_ENABLE
		string "Name of the VFS mount point to write stdin into"
		default "/dev/hooked_stdin"
endmenu
