menu "Driver: FS over bus support"
	config DRIVER_FSOVERBUS_ENABLE
		bool "Enable the FS over bus driver"
		default n
	config DRIVER_FSOVERBUS_BACKEND
			int
			default 0 if FSOB_BACKEND_NONE
			default 1 if FSOB_BACKEND_UART
			choice
				prompt "Set internal backend system"
				default FSOB_BACKEND_UART
				help
					Select backend for fsob

				config FSOB_BACKEND_NONE
					bool "None"
				config FSOB_BACKEND_UART
					bool "Uart"
			endchoice
	config DRIVER_FSOVERBUS_NOBACKEND_HELPER
		bool "Enable fsob_receive_bytes"
		default n
		depends on DRIVER_FSOVERBUS_BACKEND = 0
	config DRIVER_FSOVERBUS_NOBACKEND_HELPER_Size
		int "FSOB helper buffer size"
		default 1024
		depends on DRIVER_FSOVERBUS_NOBACKEND_HELPER = y
    config DRIVER_FSOVERBUS_UART_NUM
        int "Uart hardware number"
        default 2
		depends on DRIVER_FSOVERBUS_BACKEND = 1
	config DRIVER_FSOVERBUS_UART_TX
		int "TX pin"
		default 32
		depends on DRIVER_FSOVERBUS_BACKEND = 1
	config DRIVER_FSOVERBUS_UART_RX
		int "RX pin"
		default 35
		depends on DRIVER_FSOVERBUS_BACKEND = 1
	config DRIVER_FSOVERBUS_UART_CTS
		int "CTS pin"
		default 2
		depends on DRIVER_FSOVERBUS_BACKEND = 1
	config DRIVER_FSOVERBUS_UART_BAUD
		int "Baud rate"
		default 256000
		depends on DRIVER_FSOVERBUS_BACKEND = 1
	config DRIVER_FSOVERBUS_UART_BUFFER_SIZE
		int "UART fifo size"
		default 2048
		depends on DRIVER_FSOVERBUS_BACKEND = 1
endmenu
