---
BasedOnStyle: Chromium
AlignConsecutiveAssignments: 'true'
# VSCode currently doesnt support AlignConsecutiveMacros, if you get errors with code formatting comment this option
AlignConsecutiveMacros: 'true' 
AlignOperands: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 100
Language: Cpp
PointerAlignment: Right
ReflowComments: 'true'
SortIncludes: 'false'
SpaceBeforeAssignmentOperators: 'true'
UseTab: Never

...
