menu "Driver: I2C bus"
	config DRIVER_I2C_ENABLE
		bool "Enable the I2C bus driver"
		default n
	
	config PIN_NUM_I2C_DATA
		depends on DRIVER_I2C_ENABLE
		int "GPIO to use as data pin"
	
	config PIN_NUM_I2C_CLK
		depends on DRIVER_I2C_ENABLE
		int "GPIO to use as clock pin"
	
	config PIN_PULL_I2C_DATA
		depends on DRIVER_I2C_ENABLE
		bool "Enable the built-in pull-up for the data pin (WARNING: If possible use real a real pull-up!)"
		default n
	
	config PIN_PULL_I2C_CLK
		depends on DRIVER_I2C_ENABLE
		bool "Enable the built-in pull-up for the clock pin (WARNING: If possible use real a real pull-up!)"
		default n
	
	config I2C_MASTER_FREQ_HZ
		depends on DRIVER_I2C_ENABLE
		int "I2C speed in Hz"
		default 100000
endmenu
