menu "Driver: ILI9341 LCD display"
	config DRIVER_ILI9341_ENABLE
		depends on DRIVER_VSPI_ENABLE
		bool "Enable the ILI9341 display driver"
		default n
		
	config PIN_NUM_ILI9341_RESET
		depends on DRIVER_ILI9341_ENABLE
		int "GPIO pin used for RESET"
		default 18
		
	config PIN_NUM_ILI9341_CLK
		depends on DRIVER_ILI9341_ENABLE
		int "GPIO pin used for CLK"
		default 19
		
	config PIN_NUM_ILI9341_DCX
		depends on DRIVER_ILI9341_ENABLE
		int "GPIO pin used for D/CX"
		default 21
		
	config PIN_NUM_ILI9341_CS
		depends on DRIVER_ILI9341_ENABLE
		int "GPIO pin used for CS"
		default 22
		
	config PIN_NUM_ILI9341_MOSI
		depends on DRIVER_ILI9341_ENABLE
		int "GPIO pin used for MOSI"
		default 23
		
	config PIN_NUM_ILI9341_MISO
		depends on DRIVER_ILI9341_ENABLE
		int "GPIO pin used for MISO"
		default 25
	
	config PIN_NUM_ILI9341_BACKLIGHT
		depends on DRIVER_ILI9341_ENABLE
		int "GPIO pin used for backlight"
		default 5
		
	choice
		prompt "LCD driver chip type"
		default ILI9341_TYPE
		depends on DRIVER_ILI9341_ENABLE
	config DRIVER_ILI9341_TYPE_ILI9341
		bool "ILI9341 (320x240)"
	config DRIVER_ILI9341_TYPE_ST7789
		bool "ST7789 (240x240) NOT WORKING"
	config DRIVER_ILI9341_TYPE_ST7735
		bool "ST7735 (160x80) NOT WORKING"
	endchoice

	config ILI9341_ORIENTATION
		depends on DRIVER_ILI9341_ENABLE
		int "Hardware orientation (0-3)"
		range 0 3
		default 0
	
	config ILI9341_COLOR_SWAP
		depends on DRIVER_ILI9341_ENABLE
		bool "Swap colors"
		default n
endmenu
