menu "Build configuration"
	menu "Firmware description"
	config INFO_FIRMWARE_NAME
		string "Code-name of the firmware"
		default "Bleeding edge"
	
	config INFO_FIRMWARE_BUILD
		int "Buildnumber of the firmware"
		default 0
		help
                Build number of the firmware
	endmenu
	
	menu "Hardware description"
	config INFO_HARDWARE_NAME
		string "Name of the device"
		default "Generic device"
		help
                A semantic name for your badge

	config INFO_HARDWARE_FOLDER
		string "MicroPython modules directory"
		default "generic"
		help
                The name of the directory in /python_modules to load into firmware image as static micropython modules.
	endmenu
endmenu

menu "WiFi & OTA update"
	config OTA_WEB_SERVER
		string "Hostname of server for OTA updates"
		default "www.sensorcloud.nl"

	config OTA_WEB_PORT
		string "Port of server for OTA updates"
		default "443"

	config OTA_WEB_PATH
		string "Path on the server for OTA updates"
		default "/firmware.bin"

	config WIFI_SSID
		string "Default WiFi ssid"
		default ""

	config WIFI_PASSWORD
		string "Default WiFi password, leave empty for unsecure network"
		default ""
endmenu
