menu "Driver: SD card"
	config DRIVER_SDCARD_ENABLE
		bool "Enable the SD card driver"
		default n

	choice
		depends on DRIVER_SDCARD_ENABLE
		prompt "SD Card mode"
		default DRIVER_SDCARD_MODE_SPI
		help
			Select SD Card operating mode
		config DRIVER_SDCARD_MODE_SPI
			bool "SPI Mode"
		config DRIVER_SDCARD_MODE_1LINE
			bool "1-line SD Mode"
		config DRIVER_SDCARD_MODE_4LINE
			bool "4-line SD Mode"
	endchoice
	
	choice
		depends on DRIVER_SDCARD_ENABLE && DRIVER_SDCARD_MODE_SPI
		prompt "SD Card SPI bus"
		default DRIVER_SDCARD_BUS_HSPI
		help
			Select SD Card SPI bus
		config DRIVER_SDCARD_BUS_HSPI
			bool "HSPI"
		config DRIVER_SDCARD_BUS_VSPI
			bool "VSPI"
	endchoice
	
	config DRIVER_SDCARD_PIN_CLK
		depends on DRIVER_SDCARD_ENABLE && DRIVER_SDCARD_MODE_SPI
		int "CLK pin"
		help
			Pin used as SPI CLK

	config DRIVER_SDCARD_PIN_MOSI
		depends on DRIVER_SDCARD_ENABLE && DRIVER_SDCARD_MODE_SPI
		int "MOSI pin"
		help
			Pin used as SPI MOSI

	config DRIVER_SDCARD_PIN_MISO
		depends on DRIVER_SDCARD_ENABLE && DRIVER_SDCARD_MODE_SPI
		int "MISO pin"
		help
			Pin used as SPI MISO

	config DRIVER_SDCARD_PIN_CS
		depends on DRIVER_SDCARD_ENABLE && DRIVER_SDCARD_MODE_SPI
		int "CS pin"
		help
			Pin used as SPI CS
	
	config DRIVER_SDCARD_DMA_CHANNEL
			int
			depends on DRIVER_SDCARD_ENABLE && DRIVER_SDCARD_MODE_SPI
			default 0 if DRIVER_SDCARD_DMA_NONE
			default 1 if DRIVER_SDCARD_DMA_1
			default 2 if DRIVER_SDCARD_DMA_2
	
	choice
		depends on DRIVER_SDCARD_ENABLE && DRIVER_SDCARD_MODE_SPI
		prompt "SD Card DMA channel"
		default DRIVER_SDCARD_DMA_2
		help
			Select SD Card DMA channel
		config DRIVER_SDCARD_DMA_NONE
			bool "No DMA"
		config DRIVER_SDCARD_DMA_1
			bool "DMA channel 1"
		config DRIVER_SDCARD_DMA_2
			bool "DMA channel 2"
	endchoice
	
	config DRIVER_SDCARD_USE_MPR121_PIN
		depends on DRIVER_SDCARD_ENABLE && DRIVER_MPR121_ENABLE
		bool "Use a GPIO pin of the MPR121 to enable SD card power"
		default n
		help
			Turn on an output on a connected MPR121 I/O expander before mounting the SD card.
		
	config DRIVER_SDCARD_MPR121_PIN
		depends on DRIVER_SDCARD_ENABLE && DRIVER_MPR121_ENABLE && DRIVER_SDCARD_USE_MPR121_PIN
		int "MPR121 pin number"
	
	config DRIVER_SDCARD_FATFS_MAX_FILES
		depends on DRIVER_SDCARD_ENABLE
		int "Maximum number of opened files"
		default 2
endmenu
