menu "Driver: MPR121 touch input"
	config DRIVER_MPR121_ENABLE
		bool "Enable the MPR121 input driver"
		default n
	
	config I2C_ADDR_MPR121
		depends on DRIVER_MPR121_ENABLE
		int "MPR121 I2C address"
		default 0
		
	config PIN_NUM_MPR121_INT
		depends on DRIVER_MPR121_ENABLE
		int "GPIO pin used for MPR121 interrupt"
endmenu
