menu "Driver: microphone"
	config DRIVER_MICROPHONE_ENABLE
		bool "Enable the microphone driver"
		default n
	config DRIVER_MICROPHONE_I2S_NUM
		depends on DRIVER_MICROPHONE_ENABLE
		int "I2S bus"
		default 0
endmenu
