menu "Driver: MCH2022 STM32 co-processor"
	config DRIVER_MCH2021_STM32_ENABLE
		depends on BUS_VSPI_ENABLE
		bool "Enable MCH2021 STM32 driver"
		default n
		
    config DRIVER_MCH2021_STM32_USE_PCA9555_FOR_RESET
        depends on DRIVER_MCH2021_STM32_ENABLE && DRIVER_PCA9555_ENABLE
        bool "Use PCA9555 for RESET pin"
		
	config PIN_NUM_MCH2021_STM32_RESET
		depends on DRIVER_MCH2021_STM32_ENABLE && (!DRIVER_MCH2021_STM32_USE_PCA9555_FOR_RESET)
		int "GPIO pin used for RESET"
		
	config PIN_NUM_MCH2021_STM32_RESET_PCA9555
		depends on DRIVER_MCH2021_STM32_ENABLE && DRIVER_MCH2021_STM32_USE_PCA9555_FOR_RESET
		int "PCA9555 pin used for RESET"
		
    config DRIVER_MCH2021_STM32_USE_PCA9555_FOR_BOOT0
        depends on DRIVER_MCH2021_STM32_ENABLE && DRIVER_PCA9555_ENABLE
        bool "Use PCA9555 for BOOT0 pin"
        
	config PIN_NUM_MCH2021_STM32_BOOT0
		depends on DRIVER_MCH2021_STM32_ENABLE && (!DRIVER_MCH2021_STM32_USE_PCA9555_FOR_BOOT0)
		int "GPIO pin used for BOOT0"
		
	config PIN_NUM_MCH2021_STM32_BOOT0_PCA9555
		depends on DRIVER_MCH2021_STM32_ENABLE && DRIVER_MCH2021_STM32_USE_PCA9555_FOR_BOOT0
		int "PCA9555 pin used for BOOT0"
		
    config PIN_NUM_MCH2021_STM32_INT
		depends on DRIVER_MCH2021_STM32_ENABLE
		int "GPIO pin used for interrupt"
		
	config PIN_NUM_MCH2021_STM32_CS
		depends on DRIVER_MCH2021_STM32_ENABLE
		int "GPIO pin used for CS"
		
	config DRIVER_MCH2021_STM32_SPI_SPEED
		depends on DRIVER_MCH2021_STM32_ENABLE
		int "SPI clock speed"
		default 40000000
		range 100000 40000000
endmenu
