menu "Driver: Nokia 6100 LCD display"
	config DRIVER_NOKIA6100_ENABLE
		depends on DRIVER_VSPI_ENABLE
		bool "Enable the Nokia 6100 display driver"
		default n
		
	config PIN_NUM_NOKIA6100_RESET
		depends on DRIVER_NOKIA6100_ENABLE
		int "GPIO pin used for RESET"
	
	config PIN_NUM_NOKIA6100_CS
		depends on DRIVER_NOKIA6100_ENABLE
		int "GPIO pin used for CS"
	
	config PIN_NUM_NOKIA6100_BACKLIGHT
		depends on DRIVER_NOKIA6100_ENABLE
		int "GPIO pin used for backlight"
endmenu
