menu "Driver: ST7789V LCD display"
	config DRIVER_ST7789V_ENABLE
		depends on DRIVER_VSPI_ENABLE
		bool "Enable the ST7789V display driver"
		default n
		
	config PIN_NUM_ST7789V_RESET
		depends on DRIVER_ST7789V_ENABLE
		int "GPIO pin used for RESET (or -1 for software reset)"
		default -1
	
	config PIN_NUM_ST7789V_DCX
		depends on DRIVER_ST7789V_ENABLE
		int "GPIO pin used for D/CX"
		
	config PIN_NUM_ST7789V_CS
		depends on DRIVER_ST7789V_ENABLE
		int "GPIO pin used for CS"
    
    config DRIVER_ST7789V_SPI_SPEED
        depends on DRIVER_ST7789V_ENABLE
        int "SPI bus speed"
        default 4000000
	
	config PIN_NUM_ST7789V_BACKLIGHT
		depends on DRIVER_ST7789V_ENABLE
		int "GPIO pin used for backlight (or -1)"
		default -1
    
    config DRIVER_ST7789V_BACKLIGHT_AT_BOOT
		depends on DRIVER_ST7789V_ENABLE
		bool "Turn backlight on at boot"
		default y
		
	config DRIVER_ST7789V_BACKLIGHT_INVERT
		depends on DRIVER_ST7789V_ENABLE
		bool "Backlight pin is inverted (active low)"
		default n
	
	config DRIVER_ST7789V_8C
		depends on DRIVER_ST7789V_ENABLE
		bool "Reduce color depth to 256 colors"
    
    config DRIVER_ST7789V_COLOR_INVERT
		depends on DRIVER_ST7789V_ENABLE
		bool "Invert display colors"
		default y
	
	config DRIVER_ST7789V_WIDTH
		depends on DRIVER_ST7789V_ENABLE
		int "Screen width"
		default 320
	
	config DRIVER_ST7789V_HEIGHT
		depends on DRIVER_ST7789V_ENABLE
		int "Screen height"
		default 240
	
	config DRIVER_ST7789V_OFFSET_X
		depends on DRIVER_ST7789V_ENABLE
		int "Screen window offset X"
		default 0
	
	config DRIVER_ST7789V_OFFSET_Y
		depends on DRIVER_ST7789V_ENABLE
		int "Screen window offset Y"
		default 0
endmenu
